<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Copy Pasta</title>
    <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

  </head>

  <body>

    <div id="app">

      <div class="container">
        <div class="header clearfix" align="center">
          <h1>
            Pasta Sosa
          </h1>
          <h3>
            The #1 source for Chief Keef copy pasta.
          </h3>
          
          <h5> To get started simply replace the words in the boxes with your own.</h5>

          
        </div>

        <div class="row marketing">
          <div class="col-lg-12">

            Fuckers in <input v-model="school"> telling me, always in <input v-model="thebarbershop"> <input v-model="ChiefKeef"> ain’t bout this, <input v-model="ChiefKeef"> ain’t bout that My boy a <input v-model="bd"> on fucking <input v-model="Lamron"> and them He, he they say that <input v-model="nigga"> don’t be putting in no work SHUT THE FUCK UP! Y’all <input v-model="niggas"> ain’t know shit All ya motherfuckers talk about <input v-model="ChiefKeef"> ain’t no hitta <input v-model="ChiefKeef"> ain’t this <input v-model="ChiefKeef"> a fake SHUT THE FUCK UP Y’all don’t live with that <input v-model="nigga"> Y’all know that
            <input v-model="nigga"> got caught with a <input v-model="ratchet"> <input v-model="Shootin"> at the <input v-model="police"> and shit <input v-model="nigga"> been on <input v-model="probation"> since fuckin, I don’t know when! Motherfuckers stop fuckin’ playin’ him like that Them <input v-model="niggas"> savages out there If I catch another motherfucker talking sweet about <input v-model="ChiefKeef"> I’m fucking beating they ass! I’m not fucking playing no more You know those <input v-model="niggas"> role with <input v-model="LilReese"> and them.


          </div>
        </div>

        <div class="jumbotron">

          Fuckers in {{ school }} telling me, always in {{ thebarbershop }} {{ ChiefKeef }} ain’t bout this, {{ ChiefKeef }} ain’t bout that My boy a {{ bd }} on fucking {{ Lamron }} and them He, he they say that {{ nigga }} don’t be putting in no work SHUT THE FUCK UP! Y’all {{ niggas }} ain’t know shit All ya motherfuckers talk about {{ ChiefKeef }} ain’t no hitta {{ ChiefKeef }} ain’t this {{ ChiefKeef }} a fake SHUT THE FUCK UP Y’all don’t live with that {{ nigga }} Y’all know that {{ ChiefKeef }} got caught with a {{ ratchet }} {{ Shootin}} at the {{ police }} and shit {{ nigga }} been on {{ probation }}
          since fuckin, I don’t know when! Motherfuckers stop fuckin’ playin’ him like that Them {{ niggas }} savages out there If I catch another motherfucker talking sweet about {{ ChiefKeef }} I’m fucking beating they ass! I’m not fucking playing no more You know those {{ niggas }} role with {{ LilReese }} and them.

        </div>

        <hr>

        <div align="center">

          More mediocre memes coming soon.

          <br />

          Created by <a href="http:www.ivanjplas.com" target="_blank">Ivan J. Plas</a> <i class="fa fa-laptop" aria-hidden="true"></i>
          Using <a href="http://getbootstrap.com/" target="_blank">Bootstrap.css</a> <i class="fa fa-code" aria-hidden="true"></i> and <a href="https://vuejs.org/" target="_blank">Vue.js</a>

        </div>

        <script>
          new Vue({
            el: '#app',
            data: {
              'school': 'school',
              'thebarbershop': 'The barber shop',
              'ChiefKeef': 'Chief Keef',
              'bd': 'BD',
              'Lamron': 'Lamron',
              'nigga': 'nigga',
              'niggas': 'niggas',
              'ratchet': 'ratchet',
              'Shootin': 'Shootin',
              'police': 'police',
              'probation': 'probation',
              'LilReese': 'Lil Reese'
            }

          });
        </script>

      </div> <!-- /container -->

    </div>

  </body>

</html>
